.rdrCalendarWrapper {
  width: 100%;
  background-color:transparent;
}
.rdrMonth {
  padding:none;
}
.rdrMonthName {
  color: #1198A9;
}
button.rdrDay {
  color:none;
}
button.rdrDay:focus {
  background-color:#f9a76f;
  border-radius: 20px;
  box-sizing: border-box;
}